@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Yusei Magic", sans-serif;
}

body {
	background: #232526;
	background: linear-gradient(to right, #414345, #232526);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	padding-top: 5vh;
	text-align: center;
	color: wheat;
}

.container {
	border: 1px solid wheat;
	width: 500px;
	height: 500px;
	display: grid;
	margin: 5vh 0;
}

.hovered {
	background-color: wheat;
}

input[type="range"] {
	cursor: pointer;
}

.reset-btn {
	cursor: pointer;

	opacity: 0.75;
	color: whitesmoke;
	font-family: "Yusei Magic", sans-serif;
	font-size: larger;
	padding: 15px;
	margin-top: 5vh;
	border: none;
	border-radius: 7px;
	background: #c04848; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#480048,
		#c04848
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#480048,
		#c04848
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.reset-btn:hover {
	opacity: 1;
}
