@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Yusei Magic", sans-serif;
}

body {
	width: auto;
	background: #232526;
	background: #3494e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ec6ead,
		#3494e6
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ec6ead,
		#3494e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
	margin: auto;
	margin-top: 5vh;
	padding: 50px 125px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5rem;
	z-index: 2;
	backdrop-filter: blur(2rem);
	box-shadow: 0 0 100px 1px rgb(255, 255, 255);
}

h1 {
	background: linear-gradient(to top, #000428, #004e92);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.container {
	width: 500px;
	height: 500px;
	display: grid;
	margin: 5vh 0;
	border: 1px solid rgba(240, 240, 240, 0.2);
}

.hovered {
	background-color: white;
}

input[type="range"] {
	cursor: pointer;
}

.btn {
	border: none;
	cursor: pointer;
	background: none;
	color: black;
	font-family: "Yusei Magic", sans-serif;
	font-size: larger;
	padding: 15px;
	margin-top: 5vh;
}

#bnw-btn {
	background: linear-gradient(to left bottom, #777, #000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#rainbow-btn {
	background: linear-gradient(to right top, #ff8c00, #ff0080);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
